@model IEnumerable<Taking.Application.ViewModels.CustomerViewModel>

@{
    ViewBag.Title = "Lista de Clientes";
}

<div>
    <h2>Gestão de Clientes</h2>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>@ViewBag.Title</strong>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
                </td>
            </tr>
        }

    </table>
</div>

<div>
    <div class="form-group">
        @Html.ActionLink("Novo Cliente", "Create", "Customer", null, new { @class = "btn btn-primary" })
    </div>
</div>
